@font-face {
    font-family: 'cera_round_pro_demoregular';
    src: url('../fonts/ceraroundprodemo-regular-webfont.eot');
    src: url('../fonts/ceraroundprodemo-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ceraroundprodemo-regular-webfont.woff2') format('woff2'),
    url('../fonts/ceraroundprodemo-regular-webfont.woff') format('woff'),
    url('../fonts/ceraroundprodemo-regular-webfont.ttf') format('truetype'),
    url('../fonts/ceraroundprodemo-regular-webfont.svg#cera_round_pro_demoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
input{
    border: solid 1px black;
    padding: 10px 20px;
}
.text{
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;
}

.modal{
    max-width: 500px;
    margin: auto;
    padding-top: 52px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    border-bottom: solid 10px #46A358;
    text-align: center;
}

.modal .title{
    text-align: center;
    margin-bottom: 40px;
}

.modal .title a{
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    color: #3d3d3d;
    text-decoration: none;

}
.modal .title a:last-of-type{
    color: #46A358;
}
.modal .title span {
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    color: #46a358;
    margin: 0 11px;
}
.modal .text{
    margin-bottom: 14px;
}
.input-text{
    width: 300px;
    height: 40px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 12px 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
}
.input-text{
    margin-bottom: 16px;
}
.input-email{
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
}
.input-email{
    margin-bottom: 16px;
}
.input-password{
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
}
.input-password{
    margin-bottom: 16px;
}
.input-confirm{
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
}
.input-confirm{
    margin-bottom: 41px;
}
.button{
    border-radius: 5px;
    width: 300px;
    height: 45px;
    background: #46a358;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
}
.button{
    margin-bottom: 36px;
}
.text-register{
    width: 300px;
    height: 16px;
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;
}
.text-register{
    margin-bottom: 27px;
}
.link_soc, google{
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 13px;
    line-height: 123%;
    text-align: center;
    color: #727272;
    align-items: center;
    text-decoration: none;
}
.link_soc, google, img{
    margin-right: 9px;
}
.link_soc, google{
    margin-bottom: 21px;
}
.container{
    max-width: 1200px;
    margin: auto;
    border-bottom: solid 0.3px gray;
    width: 1200px;
    height: 53px;;
}
header{
    padding-top: 31px;
}
.login_btn{
    border-radius: 6px;
    background: #46a358;
    padding: 7px 17px;
    display: inline-flex;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    align-items: center;
    text-decoration: none;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul{
    display: flex;
    align-items: center;
}
head nav li a{
    text-decoration: none;
    font: 16px/20px 'cera_round_pro_demoregular';
}
.List li{
 margin-left: 50px;
}
.List a{
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
   text-decoration: none;
}
.home:hover{
    color: black;
    font-weight: bold;
    display: inline-block;
}
.shop:hover{
    color: black;
    font-weight: bold;
}
.plant_care:hover{
    color: black;
    font-weight: bold;
}
.blogs:hover{
    color: black;
    font-weight: bold;
}